@font-face {
    font-family: "Game Of Squids";
    src: url("../fonts/GameOfSquids.otf") format("opentype");
}

body{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    background-color: #000000;
}

/* header */
header{
    height: 90vh;
    background-color: #272727;
}

.container-header{
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
}

.my-name{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5vh;
}

.my-name h1{
    font-family: Game Of Squids,'Roboto Mono', monospace;
    color: white;
    font-size: 5.5em;
}

.my-name span{
    height: 10vh;
    width: .5vw;
    background-color: white;
    animation: barre-anime 1s linear infinite;
}

@keyframes barre-anime {
    0%{
        opacity: 100%;
    }
    50%{
        opacity: 0%;
    }
    100%{
        opacity: 100%;
    }
}


.contact-header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contact-header h2{
    color: #E5313B;
    font-family: 'Roboto Mono', monospace;
    text-transform: uppercase;
    font-size: 2em;
}

.contact-header p{
    font-family: 'Roboto Mono', monospace;
    font-size: 1.3em;
    color: white;
}

.icon-header{
    width: 15%;
    display: flex;
    justify-content: space-around;
    margin-top: 3vh;
}

.icon-header img{
    transition: .3s ease-in-out;
}

.icon-header img:hover{
    transform: scale(1.05);
}

/* nav */
nav{
    background-color: #000000;
    height: 10vh;
    top: 0%;
    position: sticky;
    z-index: 100;
}

.container-nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    font-family: 'Roboto Mono', monospace;
    font-weight: bold;
    margin-top: 0%;
    height: 100%;
}

.nav-logo img{
   width: 3vw;
   height: 3vw;
}

.lst-nav{
    display: flex;
    gap: 3vh;
}

.lst-nav a {
    text-decoration: none;
    color: white;
    position: relative;
    transition: .2s ease-in-out;
}

.lst-nav a::after{
    content: "";
    transform-origin: 0 0;
    transform: scaleX(0);
    position: absolute;
    bottom: -4px;
    left: 0;
    right: 0;
    height: 3px;
    background: white;
    z-index: 1;
    transition: .4s ease-in-out;
}

.lst-nav a:hover::after{
    transform: scaleX(1);
}

.lst-nav li {
    list-style: none;
    margin: 20px;
}

h2{
    font-family: 'Roboto Mono', monospace;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
}

/* first banner */
.banner-img1{
    background-image: url(../img/png/bg-web1-dark.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    height: 50vh;
}

/* second banner */
.banner-img2{
    background-image: url(../img/png/bg-web2-dark.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    height: 50vh;
}

/* third banner */
.banner-img3{
    background-image: url(../img/png/bg-web3-dark.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    height: 50vh;
}

/* formation */
#formations{
    height: 105vh;
    background-image: url(../img/png/bg-dark2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.formations-container {
    font-family: 'Roboto Mono', monospace;
    color: white;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}

.formations{
    display: flex;
    width: 100%; 
    gap: 15vh;
    height: 105vh;
}

.title-formations h2{
    display: flex;
    justify-content: center;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    font-size: 4em;
    letter-spacing: .1em;
    color: #E5313B;
}

.mobile-title-formation{
    display: none;
}

.lst-formations{
    background-color: #272727;
    border-right: 2px solid #E5313B;
    border-top: 2px solid #E5313B;
    border-bottom: 2px solid #E5313B;
    display: flex;
    align-items: center;
    justify-content: center;
}

.lst-formations span{
    font-weight: bold;
    font-size: 1.3em;
    line-height: 6vh;
}

.lst-formations p{
    font-size: 1.1em;
}

.wrapper-formations{
    padding-right: 9vh;
    padding-left: 9vh;
    padding-top: 9vh;
}

.wrapper-formations img{
    width: 30vh;
    padding-bottom: 10vh;
}

.myself{
    background-color: #272727;
    border: 2px solid #E5313B;
    width: 50vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15vh;
    margin-right: 15vh;
}

.myself img{
    width: 80%;
}

.myself p{
    padding: 3vh;
    margin-top: -1vh;
}

.myself span{
    color: #E5313B;
}

/* comptétences */
.container-competences{
    background-color: #272727;
    height: 130vh;
    margin-top: -3%;
}

.container-competences h2{
    display: flex;
    justify-content: center;
    padding: 10vh;
    font-size: 3em;
}

.cards
{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; 
    transform-style: preserve-3d;
    gap: 10vh;
}

.cards img{
    width: 25vh;
    transform-style: preserve-3d;
    cursor: pointer;
}

.a-card{cursor: pointer;}

.a-card p{
    color: white;
    font-family: 'Roboto Mono', monospace;
    display: flex;
    justify-content: center;

}

.container-competences h4{
    font-family: 'Roboto Mono', monospace;
    font-size: 1.5em;
    margin: 7vh;
    text-transform: uppercase;
    color: white;
    display: flex;
    justify-content: center;
}

.second-part{
    margin-top: 10vh;
}

.cards-adobe{
    display: flex;
    justify-content: space-evenly;
    margin-left: 40vh;
    margin-right: 40vh;
    flex-wrap: wrap;
}

.cards-adobe img{
    transition: .3s ease-in-out;
}

.cards-adobe img:hover{
    transform: scale(1.05);
}

/* work */
#projets{
    height: 100vh;
    overflow: hidden;
}

.work-container{
    background-image: url(../img/png/bg-dark2.png);
    background-size: cover;
    background-attachment: fixed;
    color: white;
    font-family: 'Roboto Mono', monospace;
    height: 100%;
    margin-top: -2%;
    border-top: 2px solid #E5313B;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.web-title-work h2{
    display: flex;
    font-size: 3em;
    letter-spacing: .1em;
    padding: 3vh;
}

.img-work-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    animation: slide 15s linear infinite;
}

.experience-container{
    padding: 5vh;
    display: flex;
    align-items: center;
}

.slide1{
    display: flex;
    width: 100%;
}

.slide2{
    display: flex;
    width: 100%;
}

@keyframes slide {
    0%{
        transform: translate(0, 0);
    }
    100%{
        transform: translate(-100%, 0);
    }
}

.experience-container img{
    width: 35vw;
    margin-bottom: 3vh;
}

.projets{
    background-color: #272727;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 1vw;
    width: 100%;
    height: 100%;
    transition: .3s ease-in-out;
}

.projets:hover{
    transform: scale(1.05);
}

/* footer */
footer{
    background-color: #000000;
    color: white;
    font-family: 'Roboto Mono', monospace;
    margin-top: -.8%;
}

.container-footer{
    margin-left: 40vh;
    margin-right: 40vh;
    height: 45vh;
}

.nav-footer{
    display: flex;
    justify-content: start;
    gap: 10vh;
    font-weight: bold;
    font-size: 1em;
    padding: 5vh;
    padding-left: 0%;
}

.nav-footer li {list-style: none;}

.nav-footer a{
    color: white;
    text-decoration: none;
    position: relative;
    transition: .2s ease-in-out;
}

.nav-footer a::after{
    content: "";
    transform-origin: 0 0;
    transform: scaleX(0);
    position: absolute;
    bottom: -4px;
    left: 0;                      
    right: 0;                                    
    height: 3px;
    background: white;
    z-index: 1;
    transition: .4s ease-in-out;
}

.nav-footer a:hover::after{
    transform: scaleX(1);
    color: white;
}

.container-footer hr{
    height: 2px;
    background-color: white;
    border: none;
    width: 100%;
}

.contact-footer{
    display: flex;
    flex-direction: column;
    font-weight: bold;
    font-size: 1.2em;
}

.icon-footer img{
    transition: .3s ease-in-out;
}

.icon-footer img:hover{
   transform: scale(1.05);
}

.copyright-footer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
    line-height: 1vh;
}

/* sroll-bar */
::-webkit-scrollbar {
    width: 1.2vw;
    height: 2vh;
}

::-webkit-scrollbar-track {
    background-color: #272727;
    margin-top: 3px;
    margin-bottom: 3px;
}

::-webkit-scrollbar-thumb {
    background-color: #E5313B;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #cf2d35;
}



/* mobile/ipad responsive */
@media only screen and (max-width:1024px) {

    body{
        background-color: #272727;
    }

    header{
        width: 100%;
        height: 100vh;
    }

    h2{
        color: #E5313B;
    }

    .my-name{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .my-name h1{
        font-size: 2.5em;
    }

    .my-name span{
        height: 5vh;
        width: 1vw;
    }

    .container-nav{
        display: none;
    }

    .contact-header h2{
        font-size: 1.5em;
    }

    .contact-header P{
        font-size: 1em;
    }

    .icon-header{
        width: 70%;
        display: flex;
        justify-content: space-evenly;
        margin-top: 3vh;
    }
    
    .icon-header img{
        transition: .3s ease-in-out;
    }

    nav{
       display: none;
    }

    /* first banner */
    .banner-img1{
        background-image: none;
        height: 0vh;
    }

    /* second banner */
    .banner-img2{
        background-image:none;
        height: 0vh;
    }

    /* third banner */
    .banner-img3{
        background-image:none;
        height: 0vh;
    }

    /* formation */
    #formations{
        margin-top: 0vh;
        border: none;
    }
    
    .formations-container {
        background-image: none;
        width: 100%;
        height: 215vh;
        border-top: 0px;
        border-bottom: 0px;
    }

    .formations{
        display: flex;
        width: 100vw;
        gap: 15vh;
        flex-direction: column;
    }

    .title-formations h2{
        display: none;
    }

    .mobile-title-formation{
        display: flex;
        justify-content: center;
        font-size: 1.1em;
        padding: 3vh;
    }

    .wrapper-formations{
        padding-right: 0vh;
        padding-left: 0vh;
        padding-top: 0vh;
    }

    .lst-formations{
        width: 100%;
        border: none;
        text-align: center;
        display: flex;
        flex-direction: column;
    }

    .myself{
        border: none;
        width: 100vw;
        margin: -100 0 0 0;
    }
    
    .myself img{
        width: 100%;
    }
    
    .wrapper-formations{
        padding: 3vh;
    }

    /* compétences */
    .container-competences{
        margin-top: 100vh;
        height: 200vh;
    }

    .container-competences h2{
        text-align: center;
        font-size: 1.5em;
    }

    .cards img{
        width: 17vh;
        transform-style: preserve-3d;
    }

    .second-part{
        margin-top: 0%;
    }

    .cards-adobe{
        display: flex;
        justify-content: space-evenly;
        margin-left: 0%;
        margin-right: 0%;
        flex-wrap: wrap;
        gap: 5vh;
    }

    .cards-adobe img{
       width: 15vh;
    }

    .score{
        display: flex;
        align-items: start;
        flex-direction: column;
    }

    /* work */
    #projets{
        height: 110vh;
        overflow: visible;
    }

    .work-container{
        background-image:none;
        padding: 1vh;
        margin-top: 100%;
        padding: 0%;
        text-align: center;
        border: none;
    }
    
    .work-container h2{
        display: flex;
        justify-content: center;
        padding: 3vh;
        font-size: 1.5em;
    }

    .img-work-container{
        animation: none;
    }
    
    .experience-container{
        border: none;
        overflow: hidden;
    }

    .experience-container img{
        width: 100vw;
    }

    .slide1{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .slide2{
        display: none;
    }
    .projets{
        margin: 30px;
    }

    /* footer */
    .container-footer{
        margin-left: 0%;
        margin-right: 0%;
        height: 85vh;
        margin-top: 200%;
    }

    .nav-footer{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        padding: 5vh;
    }

    .container-footer hr{
        width: 70%;
    }
    
    .contact-footer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2vh;
    }

    .copyright-footer {
        margin-top: 7vh;
    }
}

/* responsive for iphone 6/7/8 */
@media only screen and (max-height: 670px) {
      /* formation */
      .formations-container {
        height: 250vh;
    }

    #Mes_competences{
        margin-top: 150vh;
    }

    #projets{
        height: 130vh;
    }
}